<% @articles.each do |article| %>
    <div>
        <span class="date" id="date">
            <span class="year"> <%= article.created_at.year %> </span>
            <span class="month"> <%= monthToEnglisg(article.created_at.month) %> </span>
            <span class="day"> <%= article.created_at.day %> </span>
        </span>
            <!-- <a href="/2017/express-middleware/">Express Middleware</a> -->
        <%= link_to article.title, article %>
        <% if signed_in? %>
            <%= link_to "编辑",edit_article_path(article) %>
            <%= link_to "删除", article_path(article),method: :delete, data: { confirm: "确定删除这条博客吗?"} %>
        <% end -%>
    </div>
<% end -%>

<!--


        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2017/ripple-millionaire/">Ripple 百万富翁</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2017/people-who-do-big-things/">成大事者</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2017/express-initializer/">Express Initializer</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2017/fireball/">火球</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2017/express-good-packages/">Express Good Packages</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2017/express-subapp/">Express sub-app</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2017/protect-your-old-fathers-qq/">保护好你爹的 QQ</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2017/2017-new-year-resolution/">2017 新年决议</a>
        </div>



        <div class="year-split">
            2017
            <div class="line"></div>
            2016
        </div>



        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/2016-summary/">2016年终总结</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/haibo-river/">海泊河</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/use-promise-in-wxapp/">微信小程序中使用 Promise</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/share-oreilly-ebooks/">O'Reilly 电子书分享</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/codeschool-leaks/">Code School 课程分享</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/friend-of-time/">时间的朋友</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/memory-2011-winter/">回忆 2011 (冬)</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/just-like-a-king/">就像个皇帝</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/self-interest-guide/">自利行动指南</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/reply-2008-summer/">请回答 2008（夏）</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/reply-2008-autumn/">请回答 2008（秋）</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/cost-of-distrust/">不信任的代价</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/i-bought-an-iphone/">我买了个 iPhone</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/how-to-be-patient/">怎样才能有耐心</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/survive-multi-tasking/">如何应对多任务</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/born-in-1984/">生于一九八四</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/pursuit-of-extreme/">追求极致</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/targets-cleanup/">目标清理</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/road-to-financial-freedom/">通往财富自由之路</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/all-lives-end-end-better/">All lives end, end better</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/postgresql-up-and-running/">PostgreSQL up and running</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/ghost-advanced-config/">Ghost 进阶配置</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/ghost-basic-config/">Ghost 基本配置</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/ghost-up-and-running/">Ghost up and running</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/reading-cook-kids-can-go-live/">读《会做饭的孩子走到哪里都能活下去》</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/lets-encrypt/">Let's Encrypt</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/13-years-after-my-college-entrance-exam/">高考十三年后</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/faster-hit-recovery/">快速恢复</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/shadow-of-shadow/">shadow of shadow</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/pomotodo-from-buying-to-almost-giving-up/">番茄时钟：从购买到快放弃</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/mac-setup-guide-for-developer/">Mac setup guide for developer</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/benefits-of-discrimination/">歧视的好处</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/ubuntu-linux/">Ubuntu Linux</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/game-of-thrones/">冰与火之歌</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/binarics-priority-queue-and-crontab/">Binarics：优先级队列和定时任务</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/first-online-accident/">第一次线上事故</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/feiwu.xin/">废物点心</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/alphago/">AlphaGo</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2016/log/">日志！</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2016/lyubishchevs-time-log/">柳比歇夫的时间记录法</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2016/what-will-be-on-my-blog-this-year/">今年博客打算写什么</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2016/learn-learn-learn/">学习学习再学习</a>
        </div>



        <div class="year-split">
            2016
            <div class="line"></div>
            2015
        </div>



        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/hard-mode/">Hard 模式</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/persistence/">坚持</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/js-functional-programming-immutable/">JS 函数式编程 - Immutable</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/js-functional-programming-flow-style/">JS 函数式编程 - Flow style</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/js-functional-programming-currying/">JS 函数式编程 - Currying</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/js-functional-programming-2/">JS 函数式编程（2）</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/js-functional-programming-1/">JS 函数式编程（1）</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/emoji-in-programming/">Emoji in programming</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/why-i-dislike-responsive-web-design/">我为什么不喜欢响应式设计</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/not-easy-to-be-a-writer/">当个作家不容易</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/websocket-in-nodejs/">WebSocket in Node.js</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/xiaomi-chinas-microsoft/">小米，中国的微软</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/skip/">Skip</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/singletasking/">Singletasking</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/an-iq-question/">一道智力题</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/my-31/">我的三十一岁</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/mac-setup-guide-for-geek/">Mac setup guide for geek</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/mac-setup-guide-for-common-user/">Mac setup guide for common user</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/possessed-by-hypnos/">睡神附体</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/internet-chinese-goods/">互联网新国货</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/chao-gu/">炒股</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/my-cha/">我的猹</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/love-note/">爱心便签</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/big-company-cancer/">大公司癌</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/nproxy/">NProxy</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/goodbye-lenovo/">再见，联想</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/cvim/">cVim</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/hardware-error/">硬件错误</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/use-shadowsocks/">科学上网，我用 shadowsocks</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/nodejs-up-and-running/">Node.js up and running</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/startup/">STARTUP!</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/distance-between-generations/">两代人之间的距离</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/see-through/">看破</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/redis-up-and-running/">redis up and running</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/nginx-up-and-running/">nginx up and running</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/grandpa/">爷爷</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/d6-in-css/">纯CSS制作3D骰子</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/science-fiction-writer-ken-liu/">科幻作家刘宇昆</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2015/why-should-be-selfish/">为什么应该自私</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2015/why-should-be-optimistic/">为什么应该乐观</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2015/entrepreneurship-101/">MIT在线课程笔记：创业第一步</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2015/11111011111/">11111011111</a>
        </div>



        <div class="year-split">
            2015
            <div class="line"></div>
            2014
        </div>



        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/2014-summary/">2014年终总结</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/enemy-of-artisan/">工匠的敌人</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Dec </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/i-bought-a-smartisan/">我买了个锤子</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/all-or-nothing/">All or Nothing</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/the-right-way-to-watch-movies/">正确的观影方法</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/mac-guide-for-windows-power-user/">写给Windows高级用户的Mac指南</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Nov </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/mongooses-attack-2/">进击的猫鼬 (2)</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/mongooses-attack-1/">进击的猫鼬 (1)</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/not-born-quiet/">不是生来就安静</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/everything-as-a-service/">Everything as a service</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Oct </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/the-future-of-education/">教育的未来</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/mark-of-times/">时代的印记</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/will-power-and-blood-sugar/">意志力与血糖</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/market-laws/">市场规律</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Sep </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/sympathy/">同情心</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/happy-slow-30/">我的三十岁</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/my-zen/">我的禅修</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/peter-zhang/">彼得·张</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Aug </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/stateful-crawler-in-nodejs/">Stateful crawler in Node.js</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/welcome-new-member/">欢迎新成员</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/why-not-startup/">为什么不创业</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/web-crawler-in-a-hacking-way/">Web crawler in a hacking way</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jul </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/hello-i-am-kate/">Hello, I am Kate</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/not_about_right_or_wrong/">不是谁对谁错</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/ejs-and-underscore-template/">EJS和underscore模板</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/stop-the-ball/">停球</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Jun </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/about-belief/">也谈信仰</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/naming-a-child/">为小孩取名</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/2nd-way-of-learning-tech/">学习技术的第二条路</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/copyright-will-die/">版权将死</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> May </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/hexo-theme-from-scratch/">从零开始定制hexo主题</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/but-every-time-house-price-rise-i-feel-good/">可是每次房价涨，我还是很开心</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/hexo-beginner's-guide/">hexo入门指南</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/the-bigger-the-stage-the-more-prude/">越大的舞台，越放不开</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Apr </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/temptation-of-50-yuan/">一张50块钱的诱惑</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/life-is-too-long/">一辈子太长</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 21 </span>
    </span>
            <a href="/2014/golden-age-for-introverts/">《安静:内向性格的竞争力》读后感</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/golden-age-for-women/">下辈子做女人</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Mar </span>
        <span class="day"> 07 </span>
    </span>
            <a href="/2014/kun-the-bastard/">昆哥</a>
        </div>




        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 28 </span>
    </span>
            <a href="/2014/fruits-of-revolution/">革命的果实</a>
        </div>









        <div>
    <span class="date">
        <span class="month"> Feb </span>
        <span class="day"> 14 </span>
    </span>
            <a href="/2014/good-old-things/">Good old things</a>
        </div> -->
