<% @articles.each do |article| %>
    <div>
        <span class="date" id="date">
            <span class="year"> <%= article.created_at.year %> </span>
            <span class="month"> <%= monthToEnglisg(article.created_at.month) %> </span>
            <span class="day"> <%= article.created_at.day %> </span>
        </span>
            <!-- <a href="/2017/express-middleware/">Express Middleware</a> -->
        <%= link_to article.title, article %>
        <% if signed_in? %>
            <%= link_to "编辑",edit_article_path(article) %>
            <%= link_to "删除", article_path(article),method: :delete, data: { confirm: "确定删除这条博客吗?"} %>
        <% end -%>
    </div>
<% end -%>

