<!DOCTYPE html>

<html>
  <head>
    <title>细雨听风的记录</title>
    <meta name="baidu-site-verification" content="cM7B41BjWj" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="description" content="廖延">
    <meta name="keywords" content="廖延,iOS开发">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>  
      <% end -%>
    <%= yield %>
  </body>
</html>
